.home{
    min-height:100vh;
    display: flex;
    align-items: center;
    background: url(../images/home-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;

    .content{
        max-width: 60rem;
        // border: 1px solid red;
    }
    h3{
        font-size: 6rem;
        text-transform: uppercase;
        color:#fff;
    }

    p{
        font-size: 2rem;
        font-weight: lighter;
        line-height: 1.8;
        padding: 1rem 0;
        color:#eee;
    }

}