   @media (max-width: 991px){
        html{
            font-size: 55%;
        }
        .header{
            padding: 1.5rem 2rem;
        }
    
   }

   @media (max-width: 991px){
        #menu-btn{
            display: inline-block;
        }

        .header .navbar{
            position: absolute;
            top: 100%; right: 0;
            background: #fff;
            background: 30rem;


        }
   }